.clock {
    width: 400px;
    height: 400px;
    margin: 20px auto;
    position: relative;
    border-radius: 50%;
    background: #f0f1f2 url(../img/face.png) center center;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, .3) 0 5px 15px; 
}

.clock .clock-h,
.clock .clock-m,
.clock .clock-s {
    position: absolute;
    width: 20px;
    height: 160px;
    background-color: #333333;
    border-radius: 8px;
    left: calc(50% - 10px);
    top: calc(50% - 130px);
    transform-origin: 50% 130px;
}

.clock .clock-m {
    width: 10px;
    height: 180px;
    background-color: #777777;
    left: calc(50% - 5px);
    top: calc(50% - 145px);
    z-index: 1;
    transform-origin: 50% 145px;
}
.clock .clock-s {
    width: 6px;
    height: 200px;
    background-color: #be2a2a;
    left: calc(50% - 3px);
    top: calc(50% - 165px);
    z-index: 2;
    transform-origin: 50% 165px;
}

.clock .clock-nail {
    position: absolute;
    width: 32px;
    height: 32px;
    background-color: #000000;
    left: calc(50% - 16px);
    top: calc(50% - 16px);
    border-radius: 50%;
    z-index: 3;
}

.clock .day {
    position: absolute;
    background-color: #7c7777;
    z-index: 10;
    opacity: .8;
    border-radius: 20px;
    top: 55%;
    left: 60%;
    display: flex;
    justify-content: center;
    padding: 15px 30px;
}

.clock .day .clock-day {
    z-index: 11;
    color: #fff;
}
.clock .day .clock-month {
    z-index: 11;
    color: #fff;
}
